#skillspage-main {
    position: relative;
    top: 16vh;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-page-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.skills-page-div h2 {
    font-family: 'DM Serif Text';
    color: #3d445a;
    text-decoration: underline;
}

#languages-div {
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

#frameworks-div {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.skill-image {
    justify-self: center;
    align-self: center;
    width: 70px;
    height: auto;
}

.js-image {
    width: 180px;
    height: auto;
}

/*desktop and mobile*/

@media only screen and (max-width: 1024px) {
    #skillspage-main {
        top: 20vh;
        height: auto;
    }

    #languages-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    #frameworks-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .skill-image {
        width: 50px;
        height: auto;
    }

}

@media only screen and (max-width: 904px) {
    #skillspage-main {
        top: 26vh;
        height: auto;
    }

    .skills-page-div h2 {
        font-size: 25px;
    }

    .skill-image {
        width: 40px;
        height: auto;
    }

    .js-image {
        width: 125px;
        height: auto;
    }
}

@media only screen and (max-width: 425px) {
    #skillspage-main {
        top: 120px;
    }

    .skills-page-div h2 {
        font-size: 20px;
    }

    #languages-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }
    
    #frameworks-div {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .skill-image {
        width: 40px;
        height: auto;
    }

    .js-image {
        width: 100px;
        height: auto;
    }
}